TZ=__TZ__
APP_KEY=__APP_KEY__
APP_PORT=__APP_PORT__
DB_DIALECT=__DB_DIALECT__
DB_HOST=__DB_HOST__
DB_PORT=__DB_PORT__
DB_DATABASE=__DB_DATABASE__
DB_USER=__DB_USER__
DB_PASSWORD=__DB_PASSWORD__
DB_UNDERSCORED=__DB_UNDERSCORED__
